body {
    font-family: 'Share Tech Mono', monospace;
    background: #040231;
    color: white;
}

.container {
    margin-top: 10vh;
}

.unseen {
    display: none;
}

#playersToggle {
    margin-top: 3vh;
    font-size: 3vh;
    padding: 1vh; 
    border: 5px #0064ff solid;
    border-radius: 30px;
    color: #0064ff;
}

#timeToggleLable {
    font-size: 3vh;
    padding: 1vh; 
    color: #0064ff;
}

#timeToggleField {
    font-size: 2vh;
    padding: 1vh; 
    border: 5px #0064ff solid;
    border-radius: 30px;
    color: #0064ff;
    background-color: white;
}

.statusField, #startBtn {
    background-color: inherit;
    border: 5px #0064ff solid;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
}

#startBtn {
    margin-bottom: 4vh;
}

#startBtn:hover {
    background: #0066ffc0;
}

#endBtn:hover {
    background: #782a1ec0;
    color: white;
}

#endBtn {
    background: inherit;
    border: 5px #782a1e solid;
    border-radius: 30px;
    color: #782a1e;
    text-transform: uppercase;
}

.timer-output{
    background: inherit;
    color: #782a1e;
    font-size: 4vh;
    text-align: center;
    user-select: none;
}

.row-1 {
    margin-bottom: 25vh;
}

#questionField {  
    background: inherit;  
    font-size: 5vh;
    padding: 2vh 1vw 2vh 1vw; 
    text-align: center;
    border: 5px #0064ff solid;
    border-radius: 50px;
    
}

.row-2 {
    margin-bottom: 3vh;
}

.answer {
    font-size: 3vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    vertical-align: middle;
    text-align: center;
    background: inherit;
    border: 5px #0064ff solid;
    border-radius: 50px;
}

.row-3 {
    margin-bottom: 2vh;
}

/* body {
    font-family: 'Share Tech Mono', monospace;
}

.timer-output{
    width: 200px;
    background: #222;
    color: darkred;
    padding: 16px 8px;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

.techass{
    margin-left: 30px;
    margin-top: 200px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 1rem;
    font-weight: 400;
} */
